html {
    font-size: 16px;
}

.box1 {
    width: 20rem; /* 320 px */
    height: 20rem; /* 160 px */
    background-color: red;
}

.box2 {
    width: 20rem;
    /* 320 px */
    height: 10rem;
    /* 160 px */
    background-color: blue;
}